body{
	background-color: hsla( 280, 10%,  20%, 1);
	color: 			  hsla( 280, 000%, 90%, 1);
	}




a{ 		   	color:					 hsla( 280, 30%, 59%, 1);
			border-bottom: 1px solid hsla( 280, 30%, 59%, 1);
			text-decoration: none;
}
			
a:visited{ 	color:					 hsla( 280, 30%, 59%, 1);
			border-bottom: 1px solid hsla( 280, 30%, 59%, 1);
}


a:hover{   	color:					 hsla( 280, 80%, 90%, 1);
			border-bottom: 1px solid hsla( 280, 80%, 90%, 1);}


a:active{	color:					 hsla( 210, 60%, 20%, 1);
			border-bottom: 1px solid hsla( 210, 60%, 20%, 1);}
¡