
.fade{
		opacity: 0;

	  -webkit-animation: fade 0.2s  ease-out forwards;
		     -o-animation: fade 0.2s  ease-out forwards;
					  animation: fade 0.2s  ease-out forwards;       	

		-webkit-animation-delay:  2s;
		   -moz-animation-delay:  2s;
	       -o-animation-delay:  2s;
	         	animation-delay:  2s;
		}




	@-webkit-keyframes fade {from {  }to { opacity: 1;}}
	@-moz-keyframes 	 fade {from {  }to { opacity: 1;}}
	@-o-keyframes 		 fade {from {  }to { opacity: 1;}}
	@keyframes 				 fade {from {  }to { opacity: 1;}}