
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300italic,300,400italic,700,700italic,900,900italic);

body{
	width: 		  	700px;
	margin-top:   8vh;
	margin-left:  auto;
	margin-right: auto;

	color: 			  		hsla( 000, 00%, 18%, 1);
	background-color: hsla( 000, 00%, 97%, 1);


	font-family: 'Merriweather', serif;
	font-weight: normal;
	font-size:   1em;
	line-height: 1em; 
  
	-webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;	        

	cursor: default;
	-webkit-user-select: none;
	 -khtml-user-select: none;
	   -moz-user-select: none;
	     -o-user-select: none;
	        user-select: none;
}


a{
	color:					 				 hsla( 210, 0%, 55%, 1);
	border-bottom: 1px solid hsla( 210, 0%,  5%, 1);
	text-decoration: none;
	padding-bottom: 2px;

  -webkit-transition: border-bottom .2s linear,color .2s linear; ;
     -moz-transition: border-bottom .2s linear,color .2s linear; ;
       -o-transition: border-bottom .2s linear,color .2s linear; ;
      -ms-transition: border-bottom .2s linear,color .2s linear; ;
          transition: border-bottom .2s linear,color .2s linear; ;		
}			

	a:active{
		color:									 hsla( 210, 60%, 20%, 1);
		border-bottom: 1px solid hsla( 210, 60%, 20%, 1);}

	a:visited{
		color:				  					hsla( 210, 00%, 20%, 1);
		border-bottom: 1px dotted hsla( 210, 00%, 80%, 1);
	}

	a:hover{
	  color:					 				 hsla( 210, 80%, 40%, 1);
		border-bottom: 1px solid hsla( 210, 80%, 50%, 1);}



.sans{
	font-family: sans-serif;
	font-size: 0.9em;
	letter-spacing: 0.08em;
	-webkit-transition: color .2s linear; ;
     -moz-transition: color .2s linear; ;
       -o-transition: color .2s linear; ;
      -ms-transition: color .2s linear; ;
          transition: color .2s linear; ;
	}
		.sans a{
		border:none;
		color: hsla( 210, 70%, 40%, 1);
		}
		.sans:hover{
			color: hsla( 10, 100%, 65%, 1);
		}





p,ul,li{	line-height: 1.7em;}
h1{		  	line-height: 1.5em;}

.text{
	font-size: 	 1.5em;
	line-height: 1.7em;
	font-weight: 300;
	font-style:  italic;
	}






hr.subtle {
	max-width: 580px;
    padding: 0;
    border: none;
    border-top: medium double hsla( 210, 00%, 55%, 1);
    color: hsla( 210, 00%, 40%, 1);
    text-align: center;
}

button {
	color:			hsla( 200, 100%, 45%, 1);
	background: hsla(00,00%,00%,0);
	border: none;
	letter-spacing: 0.075em;
	cursor: pointer;
	margin: 3px 2px;

}



button:hover {
	color:			hsla(210, 100%, 30%, 1);
}


/*===============================================================
		ids
================================================================*/


#globe{
	position: relative;
	top: 3px;
}


#location{
	position: relative;
	margin-top: -2px;

}

#name{
	font-size: 1.3em;
}


#link-box{
	position: relative;
	margin-top: 27px;
}

#mail{
	position: relative;
	margin-top: 20px;
}



#modal-h2{
	color: green;
	position: relative;
	margin-top: 20px;
}



/*===============================================================
		Modal
================================================================*/



#modal-mail{
	font-weight: bolder;
	color:					 				 hsla( 210, 0%, 100%, 1);
	border-bottom: 1px solid hsla( 210, 0%, 100%, 0.6);
	text-decoration: none;

  -webkit-transition: border-bottom .2s linear,color .2s linear; ;
     -moz-transition: border-bottom .2s linear,color .2s linear; ;
       -o-transition: border-bottom .2s linear,color .2s linear; ;
      -ms-transition: border-bottom .2s linear,color .2s linear; ;
          transition: border-bottom .2s linear,color .2s linear; ;		
}		


#modal-mail:hover	{
		color:									 hsla( 210, 00%, 83%, 1);
		border-bottom: 1px solid hsla( 210, 00%, 83%, 1);}
}

#modal-mail:visited{
		color:				  					hsla( 210, 00%, 20%, 1);
		border-bottom: 1px dotted hsla( 210, 00%, 40%, 1);
	}





.md-close{
	color: hsla( 210, 70%, 30%, 1);
}
	.md-close:hover{
	color: hsla( 210, 70%, 50%, 1);
	}
























