body{

	font-family: sans-serif;

	font-size:   1.5em;
	line-height: 1.5em; 
    
	font-family: "Helvetica Neue",Helvetica, Arial, sans-serif;

    text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}


h1{
	line-height: 1.4em;
}

.text{

	font-size: 	 1.5em;
	line-height: 1.4em;

}

.text a {
	border-width: 2px;

}
